spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${Google-client-id}
            client-secret: ${Google secret}
            scope:
              - profile
              - email
        provider:
          google:
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo

  data:
    redis:
      host: localhost
      port: 6379
  #      url: redis://redis:6379
  mail:
    host: smtp.gmail.com
    username: ${EMAIL}
    password: ${EMAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  datasource:
    url: jdbc:mysql://localhost:3306/Devit?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

Jwt:
  secret: idi9i32u93z[i()@#rr2{()!@#R){I@!#R{R*I@(kfejdk;uwjfi;i;

